.consulta-bancos-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #282729;
    width: 100vw;
    justify-content: center;
    height: 80vh;
    left: 60%;
}

.logorevgas {
    width: 250px; 
    height: auto; 
    margin-bottom: 20px; 
    top: 25%;
    left: 50%;
}

.form-group {
    margin-bottom: 20px;
    top: 50%;
    left: 50%;

}

.table {
    margin-top: 20px; 
}

.table td,
.table th {
    padding: 10px;
}
